---
layout: archive
title: "Tutorials"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% assign sections = site.teaching | map: "section" | uniq | sort %}

<nav class="section-nav">
  {% for sec in sections %}
    {% assign sid = sec | downcase | replace: " ", "-" | replace: "&", "and" %}
    <a class="section-pill" href="#{{ sid }}">{{ sec }}</a>
  {% endfor %}
</nav>

<hr>

{% for sec in sections %}
  {% assign sid = sec | downcase | replace: " ", "-" | replace: "&", "and" %}
  <h2 id="{{ sid }}">{{ sec }}</h2>

  <ul>
  {% assign posts_in_sec = site.teaching | where: "section", sec | sort: "date" | reverse %}
  {% for post in posts_in_sec %}
    <li>
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      {% if post.tags and post.tags.size > 0 %}
        <span class="post-tags">
          {% for t in post.tags %}
            {% assign tid = t | downcase | replace: " ", "-" %}
            <a class="tag-chip" href="{{ '/tags/#tag-' | append: tid | relative_url }}">{{ t }}</a>
          {% endfor %}
        </span>
      {% endif %}
    </li>
  {% endfor %}
  </ul>
{% endfor %}
