---
layout: archive
title: "Tutorials"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% assign sections = site.teaching | map: "section" | uniq | sort %}

<!-- Table of Contents -->
<h2>Sections</h2>
<ul>
  {% for sec in sections %}
    {% assign sid = sec | downcase | replace: " ", "-" %}
    <li><a href="#{{ sid }}">{{ sec }}</a></li>
  {% endfor %}
</ul>

<hr>

<!-- Section blocks -->
{% for sec in sections %}
  {% assign sid = sec | downcase | replace: " ", "-" %}
  <h2 id="{{ sid }}">{{ sec }}</h2>

  <ul>
  {% for post in site.teaching %}
    {% if post.section == sec %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endif %}
  {% endfor %}
  </ul>
{% endfor %}
